<nav class="navbar fixed-top  navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/images/logo.jpg" alt="Logo" width="80" height="50"
                class="d-inline-block align-text-center">
            <a class="navbar-brand mtop" href="#"><b>Shikhar Education</b></a>
        </a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutUs">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Course">Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Contact">Contact</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li> -->
            </ul>
        </div>

    </div>
</nav>


<!-- carousel -->
<div class="carslid">
    <div class="Headline"><h1 style="text-align:center">Your success is Our Priority</h1> </div>
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
                <img src="assets/images/A1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="assets/images/A2.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!-- card -->
<div class="align-text-center txt">
    <h1>Our Faculty</h1>
</div>
<div class="card-group">
    <div class="card">
        <img src="assets/images/p1.jpg" height="500px" Width="60px" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Pradip Sir</h5>
            <p class="card-text">Information</p>
        </div>
    </div>
    <div class="card">
        <img src="assets/images/p2.jpg" height="500px" Width="60px" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Prashant Sir</h5>
            <p class="card-text">Information</p>

        </div>
    </div>
    <div class="card">
        <img src="assets/images/p3.jpg" height="500px" Width="60px" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Shubham Sir</h5>
            <p class="card-text">Information</p>
        </div>
    </div>
    <div class="card">
        <img src="assets/images/p4.jpg" height="500px" Width="60px" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Mahaveer Sir</h5>
            <p class="card-text">Information</p>
        </div>
    </div>
</div>

<!-- key features -->
<div>
    <div class="align-text-center txt">
        <h2><b>SSC CGL Online Coaching Key Highlights</b></h2>
    </div>
    <div class="paragph txt">
        <h3>160+ Online Live Classes</h3>
        <p>Attend more than 160+ SSC CGL online live classes based on the important topics of the latest syllabus and
            previous year questions of various sections such as Quantitative Aptitude, General English, Statistics, and
            General Studies (Finance & Economics). Prepare for each section of the SSC CGL exam separately and increase
            your chance to crack SSC CGL this year!</p>
        <h3>200+ Quizzes based on Latest Pattern</h3>
        <p>Practicing a variety of questions is of utmost importance to grab scores from every end. Thus, solving 200+
            quizzes online based on the latest SSC CGL exam pattern will aid you to improve your speed and accuracy in
            solving the questions and get a good score in the SSC CGL exam.</p>
        <h3>2000+ Practice Questions & 150 +PDFs</h3>
        <p>Solve more than 2000 questions on various important topics through our question sets. Get complete access to
            the 200+ SSC CGL study notes and 150+ PDFs to improve your problem-solving and time-management skills.</p>
    </div>
</div>



<!-- video -->
<div class="align-text-center txt">
    <h1>Demo Courses</h1>
</div>
 <div class="video-row">
    <iframe width="300" height="200" src="https://youtu.be/SHm5rhcCNv8"></iframe>
    <iframe width="300" height="200" src="https://www.youtube.com/embed/SHm5rhcCNv8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="300" height="200" src="https://youtu.be/YD-dNYGmBiY"></iframe>
    <iframe width="300" height="200" src="https://youtu.be/t0QkgWn1zAA"></iframe>
    <!-- <iframe width="300" height="200" src="https://youtu.be/0pgww4IpQbs"></iframe> -->
  </div>


<!-- social media -->
<app-socialmedia></app-socialmedia>

<!-- footer -->
<div class="container text-center text-md-left">
    <div class="row">
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
            <h5 class="font-weight-bold text-uppercase mb-4">Shikhar Education</h5>
            <p>Shikhar Education is truly dedicated channel for preparation of Central Government Exams like Staff Selection Commission( CGL,CHSL, MTS, Stenographer SSC GD etc.), Railway Recruitment Board( NTPC, JE, GROUP D, ALP TECHNICIAN.)</p>
        </div>
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
            <h5 class="font-weight-bold text-uppercase mb-4">About</h5>
            <ul class="list-unstyled">
                <li>
                    <p>
                        <a href="/home">Home</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="/aboutUs">About Us</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="/course">Course</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="/Contact">Contact</a>
                    </p>
                </li>
            </ul>
        </div>
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
            <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>
            <ul class="list-unstyled">
                <li>
                    <p>
                        <i class="fas fa-home mr-3"></i> New York, NY 10012, US
                    </p>
                </li>
                <li>
                    <p class="mail">
                        <i class="fas fa-envelope mr-3"></i><a href="mailto:prashantgavhane72@gmail.com">prashantgavhane72@gmail.com</a> 
                    </p>
                </li>
                <li>
                    <p class="tel">
                        <i class="fas fa-phone mr-3"></i><a  href="tel:+91 7447447425" role="link">+91 74474 47425</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>